.panel-title {
    margin-top: -33px;
    margin-bottom: 0;
    font-size: 24px;
    color: #f8981d !important;
    text-align: center;
}
.panel-title1 {
    background-color: #f0ad4e;
    color: #fff;
    height: 33px;
    line-height: 15px;
    padding: 10px;
    margin-left: -16px;
}
.sub-panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    color: #5bc0de !important;
    float: left;
}
.panel {
    width: auto !important;
    height: auto !important;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.input-sm {
    height: 35px !important;
    width: 80% !important;
    padding: 5px 10px;
    font-size: 14px !important;
    line-height: 2.5;
    border-radius: 3px;
}
input:required:invalid, input:focus:invalid {
background-image: url('invalid1.png');
background-position: right;
background-repeat: no-repeat;
display: inline-block;
}
input:required:valid {
background-image: url('valid.png');
background-position: right;
background-repeat: no-repeat;
display: inline-block;
}
select:required:invalid, select:focus:invalid {
background-image: url('invalid1.png');
background-position: right;
background-repeat: no-repeat;
display: inline-block;
}
select:required:valid {
background-image: url('valid.png');
background-position: right;
background-repeat: no-repeat;
display: inline-block;
}
label#required:after:invalid, label#required:after:focus:invalid {
background-image: url('invalid1.png');
background-position: right;
background-repeat: no-repeat;
display: inline-block;
}
label#required:after:valid {
background-image: url('valid.png');
background-position: right;
background-repeat: no-repeat;
display: inline-block;
}
select#provreq{
	width: 68px;
    height: 30px;
}
select#gender{
	width: 68px;
    height: 30px;
}
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
}
input[type=file] {
    width: 80% !important;
}